@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="text-align:center">
    <h2>База данных </h2>
    <a href="/Subjects" class="btn btn-info" role="button">
        Клик
    </a>

</div>

